{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<table class="table-bordered">
    <tr>
        <th>제품이름</th>
        <td>{{object.name}}</td>
    </tr>
    <tr>
        <th>작성일</th>
        <td>{{object.created_at}}</td>
    </tr>
    <tr>
        <th>수정일</th>
        <td>{{object.updated_at}}</td>
    </tr>
    <tr>
        <th>조회수</th>
        <td>{{object.view_count}}</td>
    </tr>
    <tr>
        <th>제품이미지</th>
        <td><img src="{{product_img}}" alr="{{object.name}}"></td>
    </tr>
    <tr>
        <th>제품정보</th>
        <td>
            {{object.product_info|safe}}
            <button class="button"><a href="{{object.product_url}}" target="_blank">제품정보 상세보기</a></button>
        </td>
    </tr>
    <tr>
        <th>보험정보</th>
        <td>{{object.insurance_info|safe}}</td>
    </tr>
    <tr>
        <th>디테일포인트</th>
        <td>{{object.detail_info|safe}}</td>
    </tr>
    <tr>
        <th>태그</th>
        <td>{{object.medicine}}</td>
    </tr>
</table>

{% endblock %}

{% block script %}
{% endblock %}