{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th>ID</th>
        <th>제품명</th>
        <th>제품분류</th>
        <th>태그</th>
        <th>수정일</th>
        <th>조회수</th>
    </thead>

    <tbody>
        {% for obj in object_list %}
<tr>
        <td class="text-center">{{obj.id}}</td>
        <td class="text-center"><a href="{% url 'medicine:medicine_detail' obj.id %}">{{obj.name}}</a></td>
        <td class="text-center">{{obj.category}}</td>
        <td class="text-center">{% for tag in obj.tag.all %}{{tag.name}}{% if forloop.last %}{%else%}, {% endif %}{% endfor %}</td>
        <td class="text-center">{{obj.updated_at}}</td>
        <td class="text-center">{{obj.view_count}}</td>
</tr>
    {% endfor %}

    </tbody>

</table>

  {% if is_paginated %}
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if page_obj.has_previous %}
                <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">이전</a>
                {% else %}
                <li class="pagination-previous" disabled><span>이전</span></li>
                {% endif %}
                <ul class="pagination-list">
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="active"><span class="pagination-link is-current">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <a href="?page={{ i }}" class="pagination-link">{{ i }}</a>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if page_obj.has_next %}
                <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">다음</a>
                {% else %}
                <li class="pagination-next" disabled><span>다음</span></li>
                {% endif %}
            </nav>
            {% endif %}

{% endblock %}

{% block script %}
{% endblock %}