# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media

# Jupyter Notebook
.ipynb_checkpoints

# venv
venv/

.idea/
db.sqlite3
*.mwb
secrets.json
docker-compose.yml
Dockerfile
Dockerfile.base
conf/

#삭제전 마이그레이션 백업
abc/

#tailwind
/theme/
static/