{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th>번호</th>
        <th>사용자발화</th>
        <th>인텐트이름</th>
        <th>인텐트ID</th>
        <th>유저ID</th>
        <th>유저그룹</th>
        <th>발화시간</th>
    </thead>
    {% for obj in object_list %}
    <tr>
        <td class="text-center">{{ forloop.counter }}</td>
        <td class="text-center">{{ obj.utterance }}</td>
        <td class="text-center">{{ obj.intent_name}}</td>
        <td class="text-center">{{ obj.intent_id}}</td>
        <td class="text-center">{{ obj.user }}<</td>
        <td class="text-center">{{ obj.group }}<</td>
        <td class="text-center">{{ obj.created_at }}<</td>
    </tr>
    {% endfor %}
</table>

{% if is_paginated %}
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if page_obj.has_previous %}
                <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">이전</a>
                {% else %}
                <li class="pagination-previous" disabled><span>이전</span></li>
                {% endif %}
                <ul class="pagination-list">
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="active"><span class="pagination-link is-current">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <a href="?page={{ i }}" class="pagination-link">{{ i }}</a>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if page_obj.has_next %}
                <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">다음</a>
                {% else %}
                <li class="pagination-next" disabled><span>다음</span></li>
                {% endif %}
            </nav>
            {% endif %}
{% endblock %}

{% block script %}
{% endblock %}