{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{% url 'kakao:talk_send_whole' %}">전체전송</a><br><br>
<table class="table">
    <thead>
        <th>번호</th>
        <th>조직명</th>
        <th>활성상태</th>
        <th>친구톡</th>
        <th>상태변경</th>
    </thead>
    {% for obj in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ obj.name }}</td>
        <td>{% if obj.is_active %}<i class="far fa-check-circle" style="color:orange"></i>{% else %}<i class="far fa-times-circle" style="color:red"></i>{% endif %}</td>
        <td><a class="btn btn-primary" href="{% url 'kakao:talk_send_group' obj.pk %}">보내기</a></td>
        <td><a class="btn btn-primary" href="{% url 'accounts:group_change_active' obj.pk %}">변경</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block script %}
{% endblock %}