{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<p class="h3">지점수정</p><br>

<form method="POST" class="form">
    <table class="table">
    {%csrf_token%}
    {{form.media}}
        {% bootstrap_form form %}
<!--    {{form.as_table}}-->
        </table>
    <div class="text-center">
        <button type="submit" class="save btn btn-warning">수정하기</button>
    </div>
</form>
{% endblock %}

{% block script %}
{% endblock %}